<launch>

  <!-- Run the map server -->
   
  <include file="$(find ucar_controller)/launch/base_driver.launch" > </include>

  <include file="$(find ydlidar_ros_driver)/launch/ydlidar.launch" > </include>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find ucar_nav)/maps/map_move1.yaml" output="screen">
   <param name="frame_id" value="map" />
  </node> 

<!-- <param name="base_global_planner" value="voronoi_planner/VoronoiPlanner"/>  -->

  <include file="$(find ucar_nav)/launch/config/amcl/amcl_omni.launch" > </include>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/global_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_nav)/launch/config/slow_move/costmap_converter.yaml" command="load" />
    
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />
    <!--param name="use_dijkstra" value="false" /-->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
    <param name="controller_patience" value="10.0" />
    <param name="clearing_rotation_allowed" value="true" />
  </node>

  <!-- rosparam command="load" file="$(find ucar_nav)/launch/config/move_base/my_navigation.yaml"/ -->

</launch>
