<launch>
 <include file="$(find ucar_race)/launch/ar_code_server.launch"/>
 <include file="$(find xf_mic_asr_offline)/launch/xf_mic_asr_offline.launch"/>
 <include file="$(find ucar_nav)/launch/slow_nav1.launch"/>
 <node name="move1slow_node" pkg="ucar_race" type="move1slow_node"/>
 <node name="sound_play" pkg="sound_play" type="soundplay_node.py" />
<param name="wake_up_words"   type="string" value="开始导航"/>
 
</launch> 

